#root,
body,
html {
    height: 100%;
    overflow: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.login-content {
    flex: 1;
    padding: 32px 0;
    height: 100vh;
}

.login-form {
    margin-top: 10%;
}

.login-title {
    align-content: center;
    width: 300px;
    margin-left: 43%;
}

.login-logo {
    width: 85%;
    height: 85%;
    margin-left: 5%;
}

.login-title-text {
    float: left;
    margin-left: 5%;
    margin-top: -30px;
}
